@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: hsl(240 64% 98%);
  --foreground: hsl(240 55% 4%);
  --muted: hsl(210 22% 85%);
  --muted-foreground: hsl(210 14% 30%);
  --popover: hsl(240 64% 97%);
  --popover-foreground: hsl(240 55% 3%);
  --card: hsl(240 64% 97%);
  --card-foreground: hsl(240 55% 3%);
  --border: hsl(240 2% 91%);
  --input: hsl(240 2% 91%);
  --primary: hsl(240 86% 68%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 86% 68%);
  --secondary-foreground: hsl(210 86% 8%);
  --accent: hsl(270 86% 68%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(17 85% 31%);
  --destructive-foreground: hsl(17 85% 91%);
  --ring: hsl(240 86% 68%);
  --chart-1: hsl(240 86% 68%);
  --chart-2: hsl(210 86% 68%);
  --chart-3: hsl(270 86% 68%);
  --chart-4: hsl(210 86% 71%);
  --chart-5: hsl(240 89% 68%);
  --radius: 0.5rem;
}

.dark {
  --background: hsl(240 34% 4%);
  --foreground: hsl(240 26% 97%);
  --muted: hsl(210 22% 15%);
  --muted-foreground: hsl(210 14% 70%);
  --popover: hsl(240 34% 5%);
  --popover-foreground: hsl(240 26% 98%);
  --card: hsl(240 34% 5%);
  --card-foreground: hsl(240 26% 98%);
  --border: hsl(240 2% 15%);
  --input: hsl(240 2% 15%);
  --primary: hsl(240 86% 68%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 86% 68%);
  --secondary-foreground: hsl(210 86% 8%);
  --accent: hsl(270 86% 68%);
  --accent-foreground: hsl(0 0% 0%);
  --destructive: hsl(17 85% 51%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(240 86% 68%);
  --chart-1: hsl(240 86% 68%);
  --chart-2: hsl(210 86% 68%);
  --chart-3: hsl(270 86% 68%);
  --chart-4: hsl(210 86% 71%);
  --chart-5: hsl(240 89% 68%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply rounded-md p-2 px-4 transition-all duration-150 hover:brightness-125 disabled:brightness-50
  }

  * {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }
}
